@charset "utf-8";
/* CSS Document */

@-webkit-keyframes colorPulse {
  0% {background-color: #FF6746;}
  25% {background-color: #DF6CFF;}
  50% {background-color: #718CFF;}
  75% {background-color: #43D788;}
  100% {background-color: #FFE640;}
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #204681;
  -webkit-animation: colorPulse 10s infinite alternate;
  background-blend-mode: color-dodge;
}

.Scene2{
	visibility: hidden;
	width: 100%;
	align-content: center;
}

.Scene3{
	visibility: hidden;
}

.Scene4{
	visibility: hidden;
}

div:not(empty){
	width:700px;
	height:100px;
	font-size: 50px;
}

input{
	width:400px;
	height:50px;
	font-size: 30px;
}

button{
	width:200px;
	height:70px;
	font-size: 30px;
}
