@charset "utf-8";
/* CSS Document */

@-webkit-keyframes colorPulse { /* Background Color Animation */
  0% {background-color: #FF6746;}
  25% {background-color: #DF6CFF;}
  50% {background-color: #718CFF;}
  75% {background-color: #43D788;}
  100% {background-color: #FFE640;}
}

@keyframes float { /* Home Page Logo Float Animation */
	50% {transform: translateY(20px);}
}

@keyframes float2 { /* Home Page Logo Float Animation */
	50% {transform: translateY(10px);}
}

@keyframes blur {
	from: {filter: blur(0px)};
	to: {filter: blur(8px)};
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #204681;
	-webkit-animation: colorPulse 15s infinite alternate;
	background-blend-mode: color-dodge;
	margin: 0px;
}

/*
=================================================================================================
=======================================  Scene 1  ===============================================
=================================================================================================
*/
.Scene1 {	
	visibility: hidden;
	
	height: 650px;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	position: absolute;
	z-index: 4;
}

#info {
	position: absolute;
	top: 8px;
	left: 8px;
	padding: 0px 0px;
	height: 50px;
	width: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
	font-size: 30px;
	opacity: 0.75;
}

#s1 {
	top: 8px;
	right: 8px;
}

#title {
    text-align: center;
    font-size: 135px;
    font-family: 'Rubik', sans-serif;
    color: white;
	animation: float 6s ease-in-out infinite normal;
	text-shadow: 6px 10px 5px #000000;
}

.startBox {
	position: absolute;
	transform: translateY(175px);
}

#start {
	padding: 16px 32px;
	border-radius: 40px; 
	background: #565656;
	color: var(--text);
}

#guest {
	position: relative;
	font-size: 25px;
	top: 315px;
}

#guest:hover { color: rgba(89,89,89,0.59); text-decoration: underline;}

/*
=================================================================================================
=======================================  Scene 2  ===============================================
=================================================================================================
*/

.Scene2 {
	visibility: hidden;
	
	height: 500px;
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	display: flex; 
	z-index: 3;
}

#c2 {
	position: absolute;
	font-size: 50px;
	top: 245px;
	text-align: center;
	width: 770px;
	animation: float2 6s ease-in-out infinite normal;
}

#formBox {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 450px;
	display: flex;
	justify-content: center;
}

#access {
	height: 86px;
	margin-left: 10px;
	border-radius: 40px;
	border-style: hidden;
}

/*
=================================================================================================
=======================================  Scene 3  ===============================================
=================================================================================================
*/

.Scene3 {
	visibility: hidden;
	
	height: 960px;
	width: 100%;
	position: absolute;
	z-index: 2;
	justify-content: center;
	display: flex;
	filter: blur(0px);
}

.c3 {
	position: absolute;
	font-size: 100px;
	margin-left: -15px;
	top: -5px;
}

.t3 {
	position: absolute;
	font-size: 50px;
	top: 136px;
	text-align: center;
}

.t32 {
	position: absolute;
	top: 186px;
	text-align: center;
	font-size: 30px;
}

.enter {
	position: absolute;
	align-self: center;
	top: 250px;
	border-radius: 40px;
	border-style: hidden;
}


#entrants {
	position: absolute;
	right: 8px;
	top: 8px;
}

#carousel {
	position: absolute;
	top: 265px;
	width: 100%;
	height: 450px;
	
	justify-content: center;
	align-content: center;
	display: flex;
	background-color: rgba(237,237,237,0.60);
	border-bottom: 10px solid rgba(50,50,50,0.7);
	border-top: 7px solid rgba(50,50,50,0.7);
}

.raffle {
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	height: 330px;
	width: 300px;
	justify-content: center;
	display: flex;
}

.line {
	display: inline-block;
	height: 370px;
	width: 4px;
	margin: 40px 25px;
	border-radius: 20px;
	background-color: rgba(75,75,75,1.00);
}

.prize {
	position: relative;
	font-size: 25px;
	top: 95px;
}

#s3 {
	bottom: 8px;
	right: 8px;
}

/*
=================================================================================================
=======================================  Scene T  ===============================================
=================================================================================================
*/

.SceneT{
	visibility: hidden;
	
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
	position: absolute;
	line-height: 600px;
	z-index: 5;
	background-color: rgba(0,0,0,0.65);
}

#cT {
	font-size: 50px;
}

#clock {
	width: 400px;
	font-size: 170px;
	font-family: 'Fredoka One', cursive;
	color: white;
	text-shadow: 6px 10px 5px #000000;
	position: absolute;
	transform: translateY(175px);
	text-align: center;
}

.skipBox {
	position: absolute;
	width: 510px;
	height: 80px;
	transform: translate(80px, 575px);
}

#skip{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
	left: 280px;
}

#continue{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
}


/*
=================================================================================================
====================================  Global Styles  ============================================
=================================================================================================
*/

.caption {
	font-family: 'Roboto';
	font-weight: 1000;
	color: #FFF;
	text-shadow: 3px 3px 3px #000000;
}

.captionB {
	font-family: 'Fredoka One', cursive;
	font-weight: 1000;
	color: rgba(54,54,54,0.79);
}

.home {
	position: absolute;
	top: 8px;
	left: 8px;
	padding: 0px 0px;
	height: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
}

.house {
	height: 45px;
	width: 45px;
	margin: 0px 2.5px;
}

input {
	width:400px;
	height:50px;
	font-size: 28px;
	font-family: 'Fredoka One', cursive;
	padding: 16px 32px;
	letter-spacing: 1.5px;
	border-radius: 40px;
	border-style: hidden;
}

.sponsor {
	position: absolute;
	padding: 0px 10px;
	height: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
	font-size: 20px;
	opacity: 0.75;
}

/*
=================================================================================================
====================================  Not My Code   =============================================
=============   https://codemyui.com/jumping-smoke-and-drive-button-hover-effect/   =============
=================================================================================================
*/

@-webkit-keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

button {
  --text: #FFF;
  --font-size: 45px;
  --duration: .5s;
  --shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 4px 20px -2px rgba(0, 0, 0, 1);
  padding: 16px 32px;
  font-family: 'Fredoka One', cursive;
  line-height: var(--font-size);
  font-size: var(--font-size);
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1.5px;
  background: #565656;
  color: var(--text);
  box-shadow: var(--shadow);
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
  -webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

#start div {
  display: -webkit-box;
  display: flex;
}
#start div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}
#start div span:nth-child(1) {
  --d: 0.05s;
}
#start div span:nth-child(2) {
  --d: 0.1s;
}
#start div span:nth-child(3) {
  --d: 0.15s;
}
#start div span:nth-child(4) {
  --d: 0.2s;
}
#start div span:nth-child(5) {
  --d: 0.25s;
}

button:hover {
  --y: -4px;
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}
button:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}


html {
  box-sizing: border-box;
}
 
